{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<header class="masthead" style="background-image: url('{% static "assets/img/post-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Crear Posteo</h1>
                    <h2 class="subheading">¡El cielo es el limite!</h2>
                    <span class="meta">
                        <a href="#!"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block segundo_titulo %}
{% endblock %}

{% block contenido_que_cambia %}
{% endblock %}

{% block segundo_contenido_que_cambia %}
<h1>Formulario para crear tu post</h1>
<h2>{{ mensaje }}</h2>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Subtitulo</th>
                <th>Autor</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for posteo in posteos %}
            <tr>
                <td>
                    {{posteo.id}}
                </td>
                <td>
                    {{posteo.titulo}}
                </td>
                <td>
                    {{posteo.subtitulo}}
                </td>
                <td>
                    {{posteo.autor}}
                </td>
                <td>
                    {{posteo.fecha}}
                </td>
            </tr>
            {% endfor %}
</form>
{% endblock %}

{% block scripts %}
<!-- CK Editor 5 -->
{# Carga de archivos estáticos de CKEditor #}
{{ form.media }}
{% endblock %}