
{% extends "padre.html" %}

{% load static %}

{% block titulo %}
 <!-- Page Header-->
 <header class="masthead" style="background-image: url('{% static "assets/img/registro1-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Mi Perfil</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenido_que_cambia %}
{% endblock %}

{% block segundo_contenido_que_cambia %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="form-floating">
                    <img src="{{ avatar }}" alt="avatar" width="150" height="150"/>
                    <p>Nombre: {{ usuario.nombre }}</p>
                    <p>Apellido: {{ usuario.apellido }}</p>
                    <p>Email: {{ usuario.email }}</p>
                    <p>Biografía: {{ usuario.bio }}</p>
                    <li class="nav-item"><a class="btn btn-primary text-uppercase enabled" href="{% url 'editarPerfil' %}">Editar mi perfil</a></li>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}