{% extends "padre.html" %}

{% load static %}

{% block titulo %}
 <!-- Page Header-->
 <header class="masthead" style="background-image: url('{% static "assets/img/iniciarSesion-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Inicio de sesión</h1>
                    <span class="subheading">¡Bienvenido!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<h2>{{ mensaje }}</h2>
{% endblock %}

{% block contenido_que_cambia %}
{% endblock %}

{% block segundo_contenido_que_cambia %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form action="{% url 'IniciarSesion' %}" method="post"> {% csrf_token %}
                        <table>
                            {{ form.as_table }}
                        </table>
                        <!-- Submit Button-->
                        <input class="btn btn-primary text-uppercase enabled" type="submit" value="Ingresar"> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}